.home {
  box-sizing: border-box;
  margin-left: 250px;
  text-align: center;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

  h1 {
    margin: 0;
    padding: 20px 0;
    color: rgb(226, 141, 62);
    font-size: 40px;
    letter-spacing: 2px;
  }

  section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 30px 20px;
    padding: 10px 0;
    background-color: rgba(11, 21, 36, 0.8);
    padding: 30px;
    width: 290px;
    height: 150px;

    h2 {
      margin: 0 0 3px 0;
      color: goldenrod;
      font-size: 32px;
      letter-spacing: 1px;
      font-weight: normal;
    }
    span {
      font-size: 45px;
      font-weight: bold;
      letter-spacing: 1px;
    }
    .cases {
      color: rgb(206, 204, 204);
    }
    .deaths {
      color: rgb(231, 42, 42);
    }
    .recovered {
      color: #49ce98;
    }
    .active-cases {
      color: rgb(77, 157, 231);
    }
  }
}
