header {
  text-align: center;
  box-sizing: border-box;
  margin-left: 250px;
  overflow: hidden;

  h1 {
    margin: 10px 5px 20px 5px;
    box-shadow: 0 15px 10px -10px wheat;
    background-color: rgba(11, 21, 36, 0.5);
    border-top-right-radius: 50px;
    border-top-left-radius: 50px;

    @media (max-width: 900px) {
      font-size: 22px;
    }
  }

  @media (max-width: 705px) {
    margin: 0;
  }
}
