.video-wrapper {
  .media {
    margin: 30px;
    background: rgba(9, 23, 27, 0.8);

    .media-controls {
      text-align: center;

      button {
        font-size: 20px;
        margin: 2px 3px 5px 3px;
        padding: 5px 15px;
        border-radius: 1px;
        background: rgb(6, 115, 134);
        border: none;
        color: #fff;
        cursor: pointer;

        &:hover {
          transition: 0.5s;
          background: #111;
        }
      }
    }
  }
}
