div {
  background: rgba(23, 56, 65, 0.5);

  .media {
    margin-top: 20px;
    background: rgba(23, 78, 161, 0.5);
    width: fit-content;

    .media-player {
      width: fit-content;
      margin: auto;
      height: 100%;
    }
    .media-controls {
      text-align: center;

      button {
        font-size: 20px;
        margin: 2px 3px 5px 3px;
        padding: 5px 15px;
        border-radius: 1px;
        background: rgb(6, 115, 134);
        border: none;
        color: #fff;
        cursor: pointer;

        &:hover {
          transition: 0.5s;
          background: #111;
        }
      }
    }
  }
}
