@mixin link-borders() {
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}

@mixin row-style {
  @include flex-here(row, center, null);
  @include height-width(65px, 100px);
  font-size: 18px;
  text-align: center;
  letter-spacing: 0.5px;
  border: 1px solid rgb(85, 84, 84);
  box-sizing: border-box;
  margin: 0;
}

@mixin flex-here($direction, $justify, $align) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
}

@mixin height-width($height, $width) {
  height: $height;
  width: $width;
}

@mixin add-style($size, $color, $weight) {
  font-size: $size;
  color: $color;
  font-weight: $weight;
}
