body {
  margin: 0;
  font-family: Ubuntu, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url('./images/world-1185076_1280.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
h1 {
  font-size: 30px;
  letter-spacing: 1px;
  margin: 0;
  padding: 10px 0;
  color: #f7f7f7;
}

.App {
  background-color: rgba(124, 120, 120, 0.5);
  height: 100vh;
}
