body,
html {
  height: 100%;
}

body {
  margin: 0;
  font-family: Ubuntu, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url('https://cdn.pixabay.com/photo/2020/03/19/21/35/covid-4948866_1280.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
h1 {
  font-size: 30px;
  letter-spacing: 1px;
  margin: 0;
  padding: 15px;
  color: #18b1a4;
}
