.country {
  display: flex;
  justify-content: center;

  p {
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    margin: 0;
    color: rgb(243, 219, 202);
    width: 100px;
    height: 70px;
    text-align: center;
    border: 1px solid rgb(61, 61, 61);
    font-size: 18px;
    letter-spacing: 0.5px;

    img {
      height: 25px;
      width: 40px;
      margin-top: 3px;
    }
  }
  #cnt {
    cursor: pointer;
    width: 130px;
    box-sizing: border-box;
    transition-duration: 0.5s;
    padding: 3px;
    display: flex;
    flex-direction: column;

    &:hover {
      background-color: rgba(5, 15, 34, 0.7);
      transform: scale(1.05);
    }
  }
  .new-cases {
    background: rgb(230, 164, 89);
    color: #111;
  }
  .deaths {
    background: #b91e1e;
  }
  .new-deaths {
    background: #e72a2a;
  }
  .recovered {
    background: #49ce98;
    color: #111;
  }
}
