@import '../../mixins/mixins.scss';

.country-card {
  @include flex-here(row, center, null);

  p {
    @include row-style();
    align-items: center;
    font-size: 20px;

    color: rgb(243, 219, 202);
    border: 1px solid rgb(61, 61, 61);

    img {
      @include height-width(25px, 40px);
      margin-top: 2px;
    }
  }

  #cnt {
    @include flex-here(column, null, null);
    cursor: pointer;
    width: 130px;
    box-sizing: border-box;
    transition-duration: 0.5s;
    padding: 3px;
    font-size: 18px;

    &:hover {
      background-color: rgba(5, 15, 34, 0.7);
      transform: scale(1.05);
    }
  }
  .new-cases {
    background: rgb(230, 164, 89);
    color: #111;
  }
  .deaths {
    background: #b91e1e;
  }
  .new-deaths {
    background: #e72a2a;
  }
  .recovered {
    background: #49ce98;
    color: #111;
  }
  .critical {
    background: orangered;
  }
}
