@import '../../mixins/mixins.scss';

.countries {
  margin-left: 250px;

  .table {
    background-color: rgba(11, 30, 59, 0.8);
    padding: 10px 30px;
    width: fit-content;
    margin: auto;

    .first-row {
      @include flex-here(row, center, null);
      margin-top: 20px;
      background-color: rgb(54, 52, 50);

      p {
        @include row-style();
        color: #f7f7f7;
        padding: 10px 3px;
      }

      #country {
        width: 130px;
        padding-top: 20px;
        background: rgb(73, 73, 73);
        font-size: 22px;
      }
    }
  }
}
